@font-face {
    font-family: 'Thicc';
    src: url(Font/itcsg-heavy.otf);
}

@font-face {
    font-family: 'Thin';
    src: url(Font/itcsg-light.otf);
}

@font-face {
    font-family: 'Regular';
    src: url(Font/itcsg-regular.otf);
}

@font-face {
    font-family: 'Black';
    src: url(Font/itcsg-black.otf);
}

@font-face {
    font-family: 'SThicc';
    src: url(Font/itcsg-extra-bold.otf);
}

@font-face {
    font-family: 'SpaceMono';
    src: url(Font/SpaceMono-Regular.ttf);
}

body, ul, li, a{
    margin: 0;
    padding: 0;
    font-family: 'Regular';
    background-color: black;
}

h1, h2{
    font-family: 'Thicc';
}

header{
    background-color: black;
    padding: -20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header h2{
    color: #ff7d25;
    border: 6px dashed #ff7d25;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;
}

.banner{
    position: relative;
    top: 90px;
    margin-bottom: -100px;
    padding: 50px;
    margin-left: 34%;
}

.banner img{
    max-width: 100%;
}

h1 {
    color: white;
}

h3 {
    color: #ff7d25;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    margin-top: 250px;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: #ff7d25;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #bebebe
}
p {
    font-size: 20px;
}
.intro::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    display: inline-block;
    position: relative;
}
.images li img{
    max-width: 100%;
}
.images li:hover{
    top: -4px;
}
#yoyo {
    margin: 0px;
    padding: 0px;
}
#Ghostmatter{
    text-align: center;
}
#centerdis {
    text-align: center;
}
footer{
    background: #ff7d25;
    color: black;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 1400px){
    .banner {
        top: 100px;
    }
}
@media screen and (max-width: 700px){
    .banner {
        top: 100px;
        margin-left: 50px;
    }
    .images {
        padding: 0;
        gap: 0;
    }
}